@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}

.marquee-tracking-s3 {
  display: flex;
  width: max-content;
  animation: marquee 7s linear infinite;
}

.each-scroll-item {
  width: 380px;
  padding: 0 40px;
  flex-shrink: 0;
  color: white;
}

.each-scroll-item > h1 {
    font-family: var(--secondary-font);
    width: 80%;
}

.each-scroll-item > p {
    font-family: var(--primary-font);
    font-size: 20px;
}

@media (max-width: 500px) {
  .marquee-tracking-s3 {
    animation: marquee 14s linear infinite;
  }

}
